<h2>{{'ModalDialogLoadFile.Header' | translate}}</h2>

<div class="container">
  <label
    for="projectName"
  >
    {{'ModalDialogLoadFile.LabelProjectName' | translate}}
  </label>
  <input
    id         ="projectName"
    type       ="text"
    [(ngModel)]="projectName"
  >
</div>

<div class="csvContainer">
  <label *ngFor="let encoding of encodings">
    <input
      type        ="radio"
      name        ="encoding"
      [attr.value]="encoding.value"
      [checked]   ="encoding.value === encodings[0].value"
      (change)    ="currentEncoding = encoding.value"
    >
    {{encoding.label}}
  </label>
  <div class="container">
    <label for="csvFile">
      {{'ModalDialogLoadFile.LabelCSVFile' | translate}}
    </label>
    <input
      id        ="csvFile"
      type      ="file"
      [encoding]="currentEncoding"
      (result)  ="onResultInputFile($event)"
    >
  </div>
</div>

<div class="container">
  <p>{{'ModalDialogLoadFile.SampleFile' | translate}}</p>
</div>

<div class="buttons">
  <is-ui-button
    [label]="'Cancel' | translate"
    [type] ="'default'"
    (clickButton)="onClickSecondary($event)"
  ></is-ui-button>

  <is-ui-button
    [label]="'OK' | translate"
    [type] ="'primary'"
    (clickButton)="onClickPrimary($event)"
  ></is-ui-button>
</div>
