# for WebStorm
.idea

# for npm
node_modules/
npm-debug.log

# for grunt
.tscache/
coverage/
test-es5/
test-espowered/
typings/

# for Less
bundle.css

# for TypeScript
*.js
*.js.map

!Gruntfile.js
!test/**/*.js