# for WebStorm
.idea

# for npm
node_modules/
npm-debug.log

# for bower
bower_components/

# for grunt
.tscache/
coverage/
test-espowered/
typings/
es5/

# for TypeScript
*.js.map

!Gruntfile.js
!index.js
