html {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
}


.controller {
  margin: 0;
  padding: 10px;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
}


.controller button {
  font-size: 1.5em;
}


#contents {
  position: absolute;
}


circle#radderUpButton, circle#radderDownButton, circle#removeNodeButton, circle#mergeNodeButton {
  fill: grey;
}


.element text, text.measure {
  font-size: 2em;
}


text.measure {
  visibility: hidden;
}


.element rect {
  fill: lightpink;
}


.element rect {
  stroke: purple;
  stroke-width: 5;
}


.link {
  stroke: purple;
}


.link {
  fill: none;
}


.dragLine {
  stroke: blue;
  stroke-width: 5;
}


.element.connected rect {
  fill: orange;
  stroke: blue;
}

.link.connected {
  stroke: blue;
}


.element.selected rect, .element.droppable rect {
  fill: red;
}


.element.undroppable rect {
  fill: gray;
}


.invisible {
  visibility: hidden;
}
