<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h2>{{'CreateNewProject' | translate}}</h2>
    </div>

    <div class="sixteen wide column">
      <button class="ui primary button" (click)="onClickLoadFile($event)">
        {{'LoadFile' | translate}}
      </button>
    </div>
  </div>

  <div class="ui grid">
    <div class="sixteen wide column">
      <h2>{{'ProjectList' | translate}}</h2>
      <table class="ui celled table">
        <thead>
        <tr>
          <th>{{'ProjectName' | translate}}</th>
          <th>{{'LastUpdateDate' | translate}}</th>
          <th class="delete">{{'Delete' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let project of projectVMs"
          (click)="onClickProject(project)"
        >
          <td>{{project.name}}</td>
          <td>{{project.modified}}</td>
          <td class="delete">
            <button class="ui negative button" (click)="onClickDelete($event, project)">
              {{'Delete' | translate}}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>