:host {
  display: block;
  width: 100%;
  height: calc(100% - var(--is-header-height));
  padding-top: 14px;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: #cfd8dc;
  transition: .2s;
}