<div class="row">
  <div class="col-md-12">
    <h1>Variable</h1>
    <ul>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
      <li>qux</li>
      <li>quux</li>
      <li>corge</li>
      <li>grault</li>
      <li>garply</li>
      <li>waldo</li>
      <li>fred</li>
      <li>plugh</li>
      <li>xyzzy</li>
      <li>thud</li>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
      <li>qux</li>
      <li>quux</li>
      <li>corge</li>
      <li>grault</li>
      <li>garply</li>
      <li>waldo</li>
      <li>fred</li>
      <li>plugh</li>
      <li>xyzzy</li>
      <li>thud</li>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
      <li>qux</li>
      <li>quux</li>
      <li>corge</li>
      <li>grault</li>
      <li>garply</li>
      <li>waldo</li>
      <li>fred</li>
      <li>plugh</li>
      <li>xyzzy</li>
      <li>thud</li>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
      <li>qux</li>
      <li>quux</li>
      <li>corge</li>
      <li>grault</li>
      <li>garply</li>
      <li>waldo</li>
      <li>fred</li>
      <li>plugh</li>
      <li>xyzzy</li>
      <li>thud</li>
    </ul>
  </div>
</div>