:host {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: var(--is-app-padding);
  overflow-y: scroll;
}
h2 {
  display: flex;
  margin: 8px 0;
  font-size: 14px;
  color: #455a64;
  margin-bottom: 4px;
}
li {
  display: flex;
  line-height: 26px;
}
.label {
  margin-right: auto;
}
