:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #263238;
}

header {
  padding: .5rem;
  background-color: #455A64;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header, header a {
  color: #ffffff;
}
