<div class="modal-header">
  <button type="button" class="close" ng-click="Controller.cancel()" aria-hidden="true">&times;</button>
  <h1 class="modal-title">{{localized.title()}}</h1>
</div>

<div class="modal-body">
  <table>
    <tr ng-repeat="edge in managedEdgeList">
      <td><input type="checkbox" ng-model="edge.selected" /></td>
      <td>{{edge.uLabel}}</td>
      <td>&nbsp;←&nbsp;</td>
      <td>{{edge.vLabel}}</td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="Controller.cancel()">{{localized.buttonCancel()}}</button>
  <button type="button" class="btn btn-danger"  ng-click="Controller.remove()">{{localized.buttonPrimary()}}</button>
</div>