<form ng-submit="Controller.rename(vertexId, variableName)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="Controller.cancel()" aria-hidden="true">&times;</button>
    <h1 class="modal-title">{{localized.title()}}</h1>
  </div>

  <div class="modal-body">
    <label for="variable-name">{{localized.inputLabel()}}</label>
    <input  id="variable-name" class="form-control" ng-model="variableName"/>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="Controller.cancel()">{{localized.buttonCancel()}}</button>
    <button type="button" class="btn btn-primary" ng-click="Controller.rename(vertexId, variableName)">{{localized.buttonPrimary(1)}}</button>
  </div>
</form>
