<div class="ui fluid container">

  <div class="ui grid">
    <div class="sixteen wide column">
      <h2>{{'ModalDialogCreateCovariance.Header' | translate}}</h2>
    </div>
  </div>

  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="field">
        <label
          class="selectLabel"
          for  ="variable1"
        >{{'Variable1' | translate}}</label>
        <div class="field">
          <select
            class      ="ui dropdown"
            id         ="variable1"
            name       ="variable1"
            [(ngModel)]="variable1"
          >
            <option *ngFor="let v of variables" [attr.value]="v.id">{{v.key}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="field">
        <label
          class="selectLabel"
          for  ="variable2"
        >{{'Variable2' | translate}}</label>
        <div class="field">
          <select
            class      ="ui dropdown"
            id         ="variable2"
            name       ="variable2"
            [(ngModel)]="variable2"
          >
            <option *ngFor="let v of variables" [attr.value]="v.id">{{v.key}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="buttons">
  <button
    class  ="ui button"
    (click)="onClickSecondary($event)"
  >{{'Cancel' | translate}}</button>

  <button
    class  ="ui primary button"
    (click)="onClickPrimary($event)"
  >{{'OK' | translate}}</button>
</div>
