<div class="ui fluid container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h2>{{'ModalDialogCreateRegression.Header' | translate}}</h2>
    </div>
  </div>

  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="field">
        <label
          class="selectLabel"
          for  ="dependentVariable"
        >{{'DependentVariable' | translate}}</label>
        <div class="field">
          <select
            class      ="ui dropdown"
            id         ="dependentVariable"
            name       ="dependentVariable"
            [(ngModel)]="dependentVariable"
          >
            <option *ngFor="let v of variables" [attr.value]="v.id">{{v.key}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="sixteen wide column scrollable">
      <div class="ui form">
        <div class="field" *ngFor="let v of variables; let i = index">
          <div class="ui checkbox">
            <input
              type       ="checkbox"
              name       ="variable"
              [(ngModel)]="checkboxModel[i]"
            >
            <label class="checkboxLabel">
              {{v.key}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="buttons">
  <button
    class  ="ui button"
    (click)="onClickSecondary()"
  >{{'Cancel' | translate}}</button>

  <button
    class  ="ui primary button"
    (click)="onClickPrimary()"
  >{{'OK' | translate}}</button>
</div>
