:host {
  display: block;
  margin: 0;
  flex: 1;
  height: 100%;
  padding: var(--is-app-padding);
  overflow-y: scroll;
  border-right: 1px solid #90a4ae;
}

.container {
  position: relative;
  height: 100%;
}

.matrix {
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8);
}
