<h1>Add Relation</h1>

<input type="text" ng-model="vertexIdX" />

<div class="radio-inline">
  <input type="radio" name="direction" ng-model="direction" id="xtoy" value="0">
  <label for="xtoy">↓</label>
</div>
<div class="radio-inline">
  <input type="radio" name="direction" ng-model="direction" id="mutual" value="1" >
  <label for="mutual">↑↓</label>
</div>
<div class="radio-inline">
  <input type="radio" name="direction" ng-model="direction" id="ytox" value="2" >
  <label for="ytox">↑</label>
</div>

<input type="text" ng-model="vertexIdY" />

<button ng-click="Controller.add(vertexIdX, vertexIdY, direction)"></button>