isem-variable-row .glyphicon {
  width:   16px !important;
  display: inline-block;
}

isem-variable-row.isem-vertex-disabled .glyphicon {
  opacity: .1;
}

isem-variable-row.isem-vertex-enabled .glyphicon {
  opacity: 1;
}