<div
  *ngIf="isVisible"
  class="background"
></div>

<div
  *ngIf="isVisible"
  class="body"
>
  <is-modal-dialog-load-file
    *ngIf="type === 'loadFile'"
  ></is-modal-dialog-load-file>
  <is-modal-dialog-observed-variable-detail
    *ngIf="type === 'observedVariableDetail'"
  ></is-modal-dialog-observed-variable-detail>
  <is-modal-dialog-latent-variable-detail
    *ngIf="type === 'latentVariableDetail'"
  ></is-modal-dialog-latent-variable-detail>
  <is-modal-dialog-create-regression
    *ngIf="type === 'createRegression'"
  ></is-modal-dialog-create-regression>
  <is-modal-dialog-create-latent-variable-relation
    *ngIf="type === 'createLatentVariableRelation'"
  ></is-modal-dialog-create-latent-variable-relation>
  <is-modal-dialog-create-covariance
    *ngIf="type === 'createCovariance'"
  ></is-modal-dialog-create-covariance>
  <is-modal-dialog-create-intercept
    *ngIf="type === 'createIntercept'"
  ></is-modal-dialog-create-intercept>
</div>
